@function px2rem($px){
    $rem:50px;
    @return ($px/$rem) + rem;
}
.music{
    position: fixed;
    z-index: 999;
    top: px2rem(20px);
    right: px2rem(20px);
    width: px2rem(40px);
    height: px2rem(40px);
    background: url("../images/music.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.tip{
    position: fixed;
    z-index: 999;
    width: px2rem(34px);
    height: px2rem(17px);
    background: url("../images/btn01_arrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    bottom: px2rem(20px);
    left: 50%;
    transform: translateX(-50%);
}
.orange{
    color: orange;
}
.page1{
    position: relative;
    width:100%;
    height: 100%;
    background: url("../images/01-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .img1{
        position: absolute;
        width: px2rem(350px);
        height: px2rem(180px);
        top: px2rem(40px);
        left: 50%;
        transform:translateX(-50%);
        opacity: 0;
    }
    .img2{
        position: absolute;
        width: px2rem(110px);
        height: px2rem(100px);
        right: px2rem(12px);
        top: px2rem(190px);
        opacity: 0;
    }
    .img3{
        position: absolute;
        width: px2rem(300px);
        height: px2rem(80px);
        top: px2rem(300px);
        left: 50%;
        transform:translateX(-50%);
        opacity: 0;
    }
    .info{
        position: absolute;
        width: px2rem(300px);
        height: px2rem(70px);
        top: px2rem(390px);
        left: 0px;
        right: 0px;
        margin: auto auto;
        border: 1px dashed #807777;
        padding: 4px 4px;
        line-height: px2rem(20px);
        font-size: px2rem(14px);
        opacity:0;
    }
}
.page2{
    position: relative;
    width:100%;
    height: 100%;
    background:#b5e0f4;
    .img1{
        position: absolute;
        width: px2rem(300px);
        height: px2rem(80px);
        top: px2rem(40px);
    /*    left: 50%;
        transform:translateX(-50%);*/
        left:0px;
        right:0px;
        margin: auto auto;
        opacity: 0;
    }
    .img2{
        position: absolute;
        width: px2rem(300px);
        height: px2rem(140px);
        top:px2rem(160px);
    /*    left: 50%;
        transform:translateX(-50%);*/
        left:0px;
        right:0px;
        margin: auto auto;
        opacity: 0;
    }
    .img3{
        position: absolute;
        width: px2rem(300px);
        height: px2rem(140px);
        top: px2rem(340px);
    /*    left: 50%;
        transform:translateX(-50%);*/
        left:0px;
        right:0px;
        margin: auto auto;
        opacity: 0;
    }
    p{
        position: absolute;;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #333;
        left: 0px;
        right: 0px;
        margin:auto auto;
        opacity: 0;
    }
    .p1{
        top: px2rem(120px);
        font-size: 16px;
        span{
            font-size: 18px;
            color: orange;
            font-weight:900;
        }
    }
    .p2{
        top: px2rem(300px);
    }
    .p3{
        top: px2rem(480px);
    }
}
.page3{
    position: relative;
    width:100%;
    height: 100%;
    background:#b5e0f4;
    .img1{
        position: relative;
        width: px2rem(320px);
        height: px2rem(80px);
        top: px2rem(40px);
        left: 50%;
        transform:translateX(-50%);
    }
    .img2{
        position: relative;
        width: px2rem(250px);
        height: px2rem(175px);
        left: 50%;
        transform:translateX(-50%);
        top:px2rem(40px);
    }
    .img3{
        position: relative;
        width: px2rem(250px);
        height: px2rem(175px);
        top: px2rem(20px);
        left: 50%;
        transform:translateX(-50%);
    }
    p{
        position:relative;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #333;
        top: px2rem(-15px);
    }
    .p1{
        top: px2rem(30px);
        font-size: 16px;
        span{
            font-size: 18px;
            color: orange;
            font-weight:900;
        }
    }
}
.page4{
    position: relative;
    width:100%;
    height: 100%;
    background:#b5e0f4;
    .img1{
        position: relative;
        width: px2rem(320px);
        height: px2rem(80px);
        top: px2rem(40px);
        left: 50%;
        transform:translateX(-50%);
    }
    .img2{
        position: absolute;
        width: px2rem(140px);
        height: px2rem(280px);
        left: px2rem(40px);
        top:px2rem(160px);
    }
    .img3{
        position: absolute;
        width: px2rem(140px);
        height: px2rem(280px);
        right: px2rem(40px);
        top:px2rem(160px);
    }
    p{
        position:absolute;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #333;
        top:px2rem(460px);
    }
    .p1{
        position: relative;
        height: 40px;
        line-height: 40px;
        top: px2rem(30px);
        font-size: 16px;
        span{
            font-size: 18px;
            color: orange;
            font-weight:900;
        }
    }
    .p2{
        
        left: px2rem(60px);
    }
    .p3{
        right: px2rem(60px);
    }
}
.page5{
    position: relative;
    width:100%;
    height: 100%;
    background:#b5e0f4;
    .img1{
        position: relative;
        width: px2rem(320px);
        height: px2rem(80px);
        top: px2rem(40px);
        left: 50%;
        transform:translateX(-50%);
    }
    .img2{
        position: absolute;
        width: px2rem(140px);
        height: px2rem(280px);
        left: px2rem(40px);
        top:px2rem(160px);
    }
    .img3{
        position: absolute;
        width: px2rem(140px);
        height: px2rem(280px);
        right: px2rem(40px);
        top:px2rem(160px);
    }
    p{
        position:absolute;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #333;
        top:px2rem(460px);
    }
    .p1{
        position: relative;
        height: 40px;
        line-height: 40px;
        top: px2rem(30px);
        font-size: 16px;
        span{
            font-size: 18px;
            color: orange;
            font-weight:900;
        }
    }
    .p2{
        
        left: px2rem(60px);
    }
    .p3{
        right: px2rem(60px);
    }
}
.page6{
    position: relative;
    width:100%;
    height: 100%;
    background:#b5e0f4;
    .headMsg{
        position: absolute;
        width: px2rem(310px);
        height:px2rem(210px);
        top: px2rem(30px);
        left:50%;
        transform:translateX(-50%);
        padding: px2rem(30px) px2rem(10px);
        box-sizing: border-box;
        background: url("../images/06-bgword.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-origin: border-box;
        p{
            width: px2rem(280px);
            color: #fff;
            margin: 0px auto;
            word-spacing: 2px;
            font-size: px2rem(16px);
            
        }
    }
    .phone{
        position: absolute;
        width: px2rem(360px);
        height:px2rem(210px);
        top: px2rem(230px);
        left:50%;
        transform:translateX(-50%);
        background: url("../images/06-rack.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .imgbox{
            position: absolute;
            width: px2rem(340px);
            left: 50%;
            transform: translateX(-50%);
            img{
                float: left;
                margin-left: px2rem(30px);
            }
            .img1{
                width: px2rem(46px);
                height:px2rem(100px);
            }
            .img2{
                width: px2rem(52px);
                height:px2rem(105px);
            }
            .img3{
                width: px2rem(46px);
                height:px2rem(100px);
            }
            .img4{
                width: px2rem(46px);
                height:px2rem(100px);
            }
        }
        .namebox{
            position: absolute;
            width: px2rem(320px);
            left: 50%;
            transform: translateX(-50%);
            top:px2rem(110px);
            display: flex;
            p{
               flex:1;
               font-size: 12px;
               text-align: center;
               color: black;
            }
        }
    }
    .phone2{
        position: absolute;
        width: px2rem(360px);
        height:px2rem(210px);
        top: px2rem(370px);
        left:50%;
        transform:translateX(-50%);
        background: url("../images/06-rack.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .imgbox{
            position: absolute;
            width: px2rem(340px);
            left: 50%;
            transform: translateX(-50%);
            img{
                float: left;
                margin-left: px2rem(50px);
                width: px2rem(46px);
                height:px2rem(100px);
            }
        }
        .namebox{
            position: absolute;
            width: px2rem(300px);
            left: 50%;
            transform: translateX(-50%);
            top:px2rem(110px);
            display: flex;
            p{
               flex:1;
               font-size: px2rem(12px);
               text-align: center;
               color: black;
            }
        }
    }
    .msg{
        width: 100%;
        position: absolute;
        top: px2rem(510px);
        p{  
            position: relative;
            width: px2rem(250px);
            height: px2rem(20px);
            line-height: px2rem(20px);
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
        }
        .p1{
            font-size: px2rem(16px);
            font-weight:bold;
            color: black;
        }
        .p2{
            top: px2rem(5px);
            font-size: px2rem(12px);
            background: red;
            color: white;
            border-radius:px2rem(10px)
        }
    }
}

.page7{
    position: relative;
    width:100%;
    height: 100%;
    background:#b5e0f4;
    .headMsg{
        position: absolute;
        width: px2rem(310px);
        height:px2rem(210px);
        top: px2rem(60px);
        left:px2rem(10px);
        padding: px2rem(30px) px2rem(25px);
        box-sizing: border-box;
        background: url("../images/07-bgword.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-origin: border-box;
        p{
            width: px2rem(280px);
            color: #fff;
            margin: 0px auto;
            word-spacing: 2px;
            font-size: px2rem(16px);
        }
    }
    .laba{
        width: px2rem(92px);
        height: px2rem(80px);
        position: absolute;
        top:px2rem(20px);
        right: px2rem(20px);
        background: url("../images/07-equip.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .btn{
        width: px2rem(180px);
        height: px2rem(60px);
        position: absolute;
        top:px2rem(320px);
        left:50%;
        transform:translateX(-50%);
        background: url("../images/07-btn.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .msg{
        position: absolute;
        top:px2rem(400px);
        p{
            width: px2rem(340px);
            font-size: px2rem(18px);
            font-weight: bold;
            margin: px2rem(4px) auto;
            text-align: center;
            color: black;
            span{
                color: #e40077;
                font: px2rem(20px);
            }
        }
    }
}

.page8{
    position: relative;
    width:100%;
    height: 100%;
    background:url(../images/09-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .img1{
        position: absolute;
        width: px2rem(350px);
        height: px2rem(230px);
        left:50%;
        transform:translateX(-50%);
        top:px2rem(40px);
    } 
    .img2{
        position: absolute;
        width: px2rem(300px);
        height: px2rem(200px);
        left:50%;
        transform:translateX(-50%);
        top:px2rem(300px);
    } 
}
.page9{
    position: relative;
    width:100%;
    height: 100%;
    background:url(../images/09-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .yanhua{
        position: relative;
        height: px2rem(120px);
        img{
            position: absolute;
            width: px2rem(60px);
            height: px2rem(60px);
        }
        .img1{
            left:px2rem(20px);
            top:px2rem(120px);
        } 
        .img2{
            width: px2rem(80px);
            height: px2rem(80px);
            left:px2rem(80px);
            top:px2rem(30px);
        } 
        .img3{
            width: px2rem(80px);
            height: px2rem(80px);
            left:px2rem(160px);
            top:px2rem(40px);
        } 
        .img4{
            left:px2rem(260px);
            top:px2rem(70px);
        }
    }
    .banner{
        position: relative;
        img{
            position: absolute;
            width: px2rem(340px);
            height: px2rem(160px);
        }
        .img1{
            top:px2rem(10px);
            z-index: 88;
        } 
        .img2{
            top:px2rem(70px);
            z-index: 87;
        } 
        .img3{
            top:px2rem(140px);
            z-index: 86;
        } 
        .img4{
            top:px2rem(210px);
            z-index: 85;
        }
    }
    p{
        font-size:px2rem(26px);
        color:white;
        width: 100%;
        height: px2rem(30px);
        line-height:px2rem(30px);
        text-align: center;
        margin-top:px2rem(375px);
    }
    
}

.page10{
    position: relative;
    width:100%;
    height: 100%;
    background:radial-gradient(#f5bcbe, #e70044);
    .img1{
        position: absolute;
        width: px2rem(330px);
        height: px2rem(110px);
        left:50%;
        transform:translateX(-50%);
        top:px2rem(50px);
    } 
    .img2{
        position: absolute;
        width: px2rem(340px);
        height: px2rem(120px);
        left:50%;
        transform:translateX(-50%);
        top:px2rem(200px);
        background: url(../images/10-bgint.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        input{
            position: absolute;
            display: block;
            height: px2rem(40px);
            width: px2rem(300px);
            left: 0px;
            right: 0px;
            top: 0px;
            margin: px2rem(30px) auto;
            text-align: center;
        }
        p{
            position: absolute;
            height: px2rem(20px);
            width: px2rem(300px);
            left: 50%;
            transform:translateX(-50%);
            text-align: center;
            color: #e60f48;
            margin-top: px2rem(80px);
            font-weight: bold;
        }
    } 
    .img3{
        position: absolute;
        width: px2rem(176px);
        height: px2rem(176px);
        left:50%;
        transform:translateX(-50%);
        top:px2rem(340px);
    } 
}
/****动画*****/
.music{
    animation:musicPlay 2s linear 0.2s infinite normal
}
.tip{
    animation:myTip 2s linear 0.2s infinite normal;
}
.swiper-slide-active {
    .page1{
        .img1{
            animation:p1i1In 1.5s linear .5s 1 alternate;
            animation-fill-mode: forwards;
        }
        .img2{
            animation:p1i2In 1.5s linear .5s 1 normal;
            animation-fill-mode: forwards;
        }
        .img3{
            animation:p1i3In 1.5s linear 2s 1 normal;
            animation-fill-mode: forwards;/*让动画保持在最后一帧 否则不改变默认行为opacity: 0;*/
        }
        .info{
            animation:p1i4In 1.5s ease-in-out 2s 1 normal;
            animation-fill-mode:forwards;
        }
    }
    .page2{
        .img1{
            animation:p2i1In 1.5s linear 0.5s 1 normal;
            animation-fill-mode:forwards;
        }
        .p1{
            animation:p2p1In 1.5s ease 0.5s 1 normal;/*速度默认ease 次数默认1 normal也是默认值*/ 
            animation-fill-mode:forwards;
        }
        .img2{
            animation: p2i2In 1.5s ease 2s 1 normal;
            animation-fill-mode:forwards;
        }
        .p2{
            animation:p2p2In 1.5s ease 2s 1 normal;
            animation-fill-mode:forwards;
        }
        .img3{
            animation: p2i3In 1.5s ease 3.5s 1 normal;
            animation-fill-mode:forwards;
        }
        .p3{
            animation:p2p3In 1.5s ease 3.5s 1 normal;
            animation-fill-mode:forwards;
        }
    }
}
@keyframes musicPlay{
    0%{
        transform:roate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}
@keyframes myTip{
    0%{
        transform: translate(-50%,-20%);
        opacity: 0;
    }
    80%{
        transform: translate(-50%,-80%);
        opacity: 1;
    }
    100%{
        transform: translate(-50%,-100%);
        opacity: 0;
    }
}
@keyframes p1i1In {
    0%{
        width: 0px;
        height: 0px;
        opacity: 0;
    }
    100%{
        width: px2rem(350px);
        height: px2rem(180px);
        opacity:1;
    }
}
@keyframes p1i2In {
    0%{
        width: 0px;
        height: 0px;
        opacity: 0;
    }
    100%{
        width: px2rem(110px);
        height: px2rem(100px);
        opacity:1;
    }
}
@keyframes p1i3In {//动画里的属性会重写上面css相同的属性
    0%{
        transform:translate(-50%,-30%);
        opacity: 1;
    }
    40%{
        transform:translate(-50%,10%);
        opacity: 1;
    }
    70%{
        transform:translate(-50%,-10%);
        opacity: 1;
    }
    100%{
        transform:translate(-50%,0);
        opacity: 1;
    }
}
@keyframes p1i4In{
    0%{
        opacity:0;
    }
    1%{
        transform:scale(0.5,0.5);
        opacity:0;
    }
    100%{
        transform:scale(1,1);
        opacity:1;
    }
}
@keyframes p2i1In{
    0%{
        transform:scale(0.1,0.1);
        opacity:0;
    }
    50%{
        transform:scale(1.3,1.3);
        opacity: 1;
    }
    100%{
        transform:scale(1,1);
        opacity:1;
    }
}
@keyframes p2p1In{
    0%{
        opacity: 0;
        transform: scale(0.5,0.5);
    }
    50%{
        opacity: 1;
        transform: scale(1.2,1.2);
    }
    100%{
        opacity: 1;
        transform: scale(1,1);
    }
}
@keyframes p2i2In{
    0%{
        opacity:0;
        transform:scale(0.5,0.5)
    }
    50%{
        opacity:1;
        transform:scale(1.2,1.2);
    }
    100%{
        opacity:1;
        transform:scale(1,1);
    }
}
@keyframes p2p2In{
    0%{
        opacity: 0;
        transform: scale(0.5,0.5);
    }
    50%{
        opacity: 1;
        transform: scale(1.2,1.2);
    }
    100%{
        opacity: 1;
        transform: scale(1,1);
    }
}
@keyframes p2i3In{
    0%{
        opacity:0;
        transform:scale(0.5,0.5)
    }
    50%{
        opacity:1;
        transform:scale(1.2,1.2);
    }
    100%{
        opacity:1;
        transform:scale(1,1);
    }
}
@keyframes p2p3In{
    0%{
        opacity: 0;
        transform: scale(0.5,0.5);
    }
    50%{
        opacity: 1;
        transform: scale(1.2,1.2);
    }
    100%{
        opacity: 1;
        transform: scale(1,1);
    }
}